@font-face {
	font-family: 'Koch';
	src: url(../fonts/Koch_Bold.ttf);
}

@font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
}

span{
	font-size: 13px;
}
.clr-org{
	color: #FF7700;
}
.clr-blue{
	color: #230099;
}
.clr-white{
	color: #FFF;
}
.clr-grey{
	color: #b7b7b7;
}
.ftr-bg{
	background-color: #000A55;
}
.f13{
	font-size: 12px;
}
.f15{
	font-size: 15px;
}
.f18{
	font-size: 18px;
}
.f40{
	font-size: 42px;
}
.f60{
	font-size: 60px;
}
.wdt50{
	width: 50px;
}
.bg-light{
	background-color: #EFEFEF !important;
}
.brd-link{
	color: #212529;
}
.brd-link:hover{
	color: #212529;
	text-decoration: none;
}

body {
	font-family: OpenSans;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Koch';
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
		margin: 5px;
	}
}
.logo{
	width: 200px;
}
.navbar{
	padding: 0px;
}
.navbar-custom {
	background-color: #FFF;
}
.mt100{
	margin-top: 100px;
}
.navbar-custom .navbar-brand {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
}
.navbar-dark .navbar-toggler {
	background-color: #230099;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
	font-size: 15px;
	color: #230099;
	margin-bottom: 5px;
}
.nav-drpdwn:hover>.dropdown-menu {
	display: block;
}

.onactive{
	height: 10px;
	float: right;
	margin-top: -50px;
	margin-right: 11px;
}
.nav-item img{
	display: none;
}
.nav-item:hover img{
	display: inline-flex;
}
.nav-item.active img{
	display: inline-flex;
}
.nav-drpdwn>.dropdown-toggle:active {
	pointer-events: none;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem px 0;
	font-size: 13px;
	color: #fff;
	text-align: center;
	list-style: none;
	background-color: #4A0099;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 6px;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: 5px;
	clear: both;
	font-weight: 400;
	color: #FFF;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
}
.dropdown-item.active, .dropdown-item:active {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}
.dropdown-divider {
	height: 0;
	margin: 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}
.undlne{
	display:inline-block;
	border-bottom:1px solid #e9ecef;
	width:50px;
}
.nav-link:focus,.nav-link:hover,.nav-link.active {
}

.btn-menu{
	color: #230099 !important;
	border: 1px solid #230099;
	margin-right: 10px;
	border-radius: 6px;
	font-size: 15px;
}

.carousel-indicators li {
	box-sizing: content-box;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	margin-left: 10px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #FFF;
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 1;
	transition: opacity .6s ease;
	border-radius: 50%;
}
.carousel-indicators .active {
	background-color: #FF7700;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 200px;
	color: #FFF;
	text-align: center;
}
.banner-heading{
	font-weight: 800;
	font-size: 42px;
	line-height: 2;
}
.tri-link{
	color: #FF7700;
	font-size: 22px;
	text-decoration: none;
}
.ancr-link{
	text-decoration: none;
}
.ancr-link:hover{
	text-decoration: none;
}

.btn-more{
	color: #230099;
	border: 1px solid #230099;
	border-radius: 6px;
	font-size: 13px;
}
.btn-more:hover{
	text-decoration: none;
}
.mt120{
	margin-top: -280px;
}
#polygon1,#polygon2,#polygon3,#polygon4{
	background-image: url("../images/Polygon.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	min-height: 300px;
}

#expertise{
	background-image: url("../images/expertise.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	min-height: 300px;	
}

#obj-plspy{
	background-image: url("../images/expertise.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	min-height: 300px;	
	background-color: #E37A1E;	
}
.galley-frame{
	background-image: url("../images/frame.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	min-height: 334px;	
}
.galley-frame1{
	background-image: url("../images/frame.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	min-height: 200px;	
}
.pdt95{
	padding-top: 32px;
}
.carousel-control-next {
	right: -54px;
}
.carousel-control-prev {
	left: -54px;
}
.carousel-control-next, .carousel-control-prev{
	opacity: 1;
}
.obj-box{
	box-shadow: 0px 0px 10px #0000001A;
	background-color: #FFF;
	border-radius: 10px;
}
.gallery-img{
	height: 300px;
}
.ftr-hr{
	background-color: #FFF;
}
.footer-link{
	color: #FFF;
}
.footer-link:hover{
	color: #FFF;
	text-decoration: none;
}
.hgt25{
	height: 25px;
}
.copyright{
	color: #FFF;
}
.enayble{
	color: #FF7700;
}
.enayble:hover{
	color: #FF7700;
	text-decoration: none;
}

@media (min-width: 320px) and (max-width: 600px){
	.carousel-caption {
		padding-bottom: 20px;
		padding-top: 5px;
	}
	.banner-heading{
		font-weight: 400;
		font-size: 14px;
		line-height: 1.2;
	}
	.px-5{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.bnr-sml{
		font-size: 10px;
		line-height: 1;
	}
	.carousel-control-next {
		right: 0px;
	}
	.carousel-control-prev {
		left: 0px;
	}
	.ml-5{
		margin-left: 5px !important;
	}
	.mr-5{
		margin-right: 5px !important;
	}
	.mob-mb{
		margin-bottom: 30px;
	}
	.nav-drpdwn>.btn-menu{
		width: 98%;
	}
	.f40{
		font-size: 16px;
	}
	.text-right{
		text-align: left !important;
	}
	.galley-frame,.galley-frame1{
		min-height: 325px;
	}
	.img-glry {
		max-width: 85%;
		height: auto;
		padding-left: 20px;
		margin: auto;
	}
}
@media (min-width: 320px) and (max-width: 359px){
	.galley-frame,.galley-frame1{
		min-height: 180px !important;
	}
}
@media (min-width: 360px) and (max-width: 379px){
	.galley-frame,.galley-frame1{
		min-height: 210px !important;
	}
}
@media (min-width: 380px) and (max-width: 419px){
	.galley-frame,.galley-frame1{
		min-height: 230px !important;
	}
}
@media (min-width: 420px) and (max-width: 430px){
	.galley-frame,.galley-frame1{
		min-height: 230px !important;
	}
}
@media (min-width: 431px) and (max-width: 480px){
	.galley-frame,.galley-frame1{
		min-height: 285px !important;
	}
}
@media (min-width: 481px) and (max-width: 530px){
	.galley-frame,.galley-frame1{
		min-height: 300px !important;
	}
}
@media (min-width: 601px) and (max-width: 991px){
	.text-right{
		text-align: left !important;
	}
	.carousel-caption {
		padding-bottom: 10px;
	}
	.ml-5{
		margin-left: 5px !important;
	}
	.mr-5{
		margin-right: 5px !important;
	}
	.px-5{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	#polygon1, #polygon2, #polygon3,#polygon4{
		width: 330px;
		margin-bottom: 30px;
		margin: auto;
	}
	.mob-mb{
		margin-bottom: 30px;
	}
	.nav-drpdwn>.btn-menu{
		width: 98%;
	}
	.carousel-control-next {
		right: 0px;
	}
	.carousel-control-prev {
		left: 0px;
	}
	.banner-heading{
		font-weight: 600;
		font-size: 30px;
		line-height: 1.2;
	}
	.f40{
		font-size: 24px;
	}
	.galley-frame,.galley-frame1{
		min-height: 330px;
	}
	.img-glry {
		max-width: 85%;
		height: auto;
		padding-left: 20px;
		margin: auto;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.galley-frame,.galley-frame1{
		min-height: 440px;
	}
	.img-glry {
		max-width: 85%;
		height: auto;
		padding-left: 20px;
		margin: auto;
	}
}
@media (min-width: 992px) and (max-width: 1250px){
	.carousel-control-next {
		right: -15px;
	}
	.carousel-control-prev {
		left: -15px;
	}

}
.cal-label{
	color: #FF6D00;
	font-family: Koch;
	font-size: 20px;
}
.cal-inpt{
	border: 1px solid #2A3589;
}
.cal-unit{
	font-family: Koch;
	color: #707070;
	font-size: 20px;
}
.cal-btn{
	color: #fff;
	background-color: #2A3589;
	border-color: #2A3589;
	font-size: 14px;
	padding: 5px 30px;
}
.cal-btn:hover{
	color: #fff;
	background-color: #2A3589;
	border-color: #2A3589;
}

.table1,.table2 {
	background: white;
	border: 2px solid #c3c3c3;
	border-radius: 5px;
	width: 100%;
	border-spacing: 0px;
	border-collapse: separate;
}
.table1 th {
	padding: 15px 30px;
	border-bottom:  2px solid #c3c3c3;
	font-family: Koch;
	font-size: 20px;
}
.table1 td {
	padding: 30px;
	font-size: 14px;
}
.table2 td {
	padding: 10px 30px;
	font-size: 14px;
}
.br-b{
	border-bottom:  2px solid #c3c3c3;
}
.br-r{
	border-right:  2px solid #c3c3c3;
}

.panel-title > a:before {
	float: right !important;
	font-family: FontAwesome;
	content:"\f068";
	padding-right: 5px;
	font-size: 14px;
	padding-top: 8px;
}
.panel-title > a.collapsed:before {
	float: right !important;
	content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
	text-decoration:none;
	color: #4A0099;
}

.panel-title > a{
	color: #4A0099;
	font-size: 18px;
	font-family: Koch;
}

.fnt-fmly{
	font-family: Koch;
}

.nav-drpdwn.active img{
	display: inline-flex;
}
.nav-drpdwn:hover img{
	display: inline-flex;
}
.nav-drpdwn img{
	display: none;
}

.contact-form .form-control{
	border: none;
	box-shadow: 0px 0px 14px #0000002B;
	-ms- box-shadow:: 0px 0px 14px #0000002B; 
	border-radius: 5px;
}
.submit-btn{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-color: #071e55;
	padding: 5px 20px;
}
.submit-btn:hover{
	color: #FFF;
}

input::placeholder {
	font-size: 12px;
	color: #c7c7c7;
}
textarea::placeholder {
	font-size: 12px;
	color: #c7c7c7;
}

@media (max-width: 991px){
	.dropdown-menu {
		margin: 0px 9px 0px -1px;
	}
	.mob-py4{
		padding-bottom: 1.5rem !important;
		padding-top: 1.5rem !important;
	}
	.mob-pt4{
		padding-top: 1.5rem !important;
	}
	.mob-hide{
		display: none !important;
	}
}